.bground{
    width: 100%;
    height:150px;
    /*background-color: blueviolet,*/
    background-image: url(./student.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}